.task-filer {
	margin: 0;
	padding: 0;
	list-style: none;
	right: 0;
	left: 0;
}

.task-filer li {
	display: inline;
	cursor: default;
}

.task-filer li label {
	display: inline-block;
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.task-filer li input {
	appearance: none;
    position: absolute;
}

.task-filer li input:checked + label {
	border-color: rgba(175, 47, 47, 0.2);
}
.task-filer li input:hover + label {
	border-color: rgba(175, 47, 47, 0.1);
}

.task-filer li label:not(.selected) {
	cursor: pointer;
}